#card {
  display: flex;
  flex-direction: column;

  & header {

      display: flex;
      justify-content: space-between;
      gap: 16px;

      & strong {
          font: var(--subtitle-sm);
          text-transform: uppercase;
      }

      & p {
          font: var(--text-xs);
      }

  }

  & span {
      white-space: nowrap;
      height: 24px;
      padding: 0px 8px;
      align-content: center;
      background-color: var(--gray-300);
      border-radius: 999px;
      font: var(--subtitle-sm);
      color: var(--gray-500);
  }
}

.slots {
  display: grid;
  grid-template-columns: repeat(5, 56px);
  grid-template-rows: repeat(2, 56px);
  gap: 8px;
}

.slot {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-200);
  border-radius: 12px;
}

.slot-true {
  background-image: url(/src/assets/PinCheck.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.slot-gift {

  & img {
      width: 24px;
      height: 24px;
      opacity: 35%;
  }

}

.slot-gift-true {

  & img {
      width: 40px;
      height: 40px;
  }

}

@media (min-width: 768px) {
  
  #card {
      padding: 32px;
      padding-top: 36px;
      gap: 32px;

      & header {

          align-items: center;

          & p {
              font: var(--text-sm);
          }
      }

      & span {
          font: var(--subtitle-md);
      }
  }

  .slots {
      grid-template-columns: repeat(5, 88px);
      grid-template-rows: repeat(2, 88px);
      gap: 16px;
  }

  .slot {
      border-radius: 20px;
  }

  .slot-true {
      background-size: 64px;
  }

  .slot-gift {

      & img {
          width: 40px;
          height: 40px;
      }

  }
}