.data {
  display: flex;
  flex: 1;
  align-items: center;
  box-sizing: border-box;
}

.profile-picture-container {
  width: 100px;
  height: 100px;
  padding: 2px;
  background: var(--gradient-base);
  border-radius: 10px;
}

.profile-picture-container img {    
  max-width: 100%; 
  max-height: 100%;
  width: 100%; 
  object-fit: cover;
  border: 2px solid white;
  border-radius: 8px; 
  width: 100px;
  height: 100px;
}

#client-since {
  font: var(--text-xs);
}